@model DeliveryConsumer.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>AddProduct</h1>

<h4>Product</h4>
<hr />
<div><a asp-action='Details' asp-controller="Delivery" asp-route-id="@ViewBag.d_id" class="btn btn-primary">Back -></a></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" value="0" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="DeliveryId" class="control-label"></label>
                <input asp-for="DeliveryId" class="form-control" value="@(ViewBag.d_id ?? String.Empty)" />
                <span asp-validation-for="DeliveryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
